<div class="well col-md-4 col-md-offset-4">
<%= form_for(complain) do |f| %>
  <% if complain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complain.errors.count, "error") %> prohibited this complain from being saved:</h2>

      <ul>
      <% complain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if request.original_url.include? "complains/new" %>
    <h1 class="well">New Complain</h1>
  <% elsif request.original_url.include? "complains/#{params[:id]}/edit" %>
    <h1 class="well">Edit Complain</h1>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id %>
    <%= f.number_field :user_id, :value => current_user.id, readonly: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :value => current_user.username, readonly: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :devise %>
    <%= f.select :devise, options_for_select(['Monitor','Keyboard','Mouse', 'Cabinet', 'Other']) ,class: "form-control devises" %>
    <br>
    <%= f.text_field :devise, class: "other_text", style: "display: none;", id: "other_textbox" %>
  </div>

  <div class="form-group">
    <%= f.label :complain_details %>
    <%= f.text_area :complain, class: "form-control" %>
  </div>

  <div class="actions">
    <%= button_tag "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
<script type="text/javascript">
  $( "#complain_devise" ).select2({
    theme: "bootstrap"
  });

  $('#complain_devise').change(function() {
    if(this.value == "Other") {
      $('.other_text').val('');
      $('.other_text').show();
    }else{
      $('.other_text').val(this.value);
      $('.other_text').hide();
    }
  });
</script>
