<!-- <p id="notice"><%#= notice %></p> -->
<% if current_user.email.eql?("sagar@thinkbiz.co.in") %>
    <h1>User Complains</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="cntr">Name</th>
          <th class="cntr">User</th>
          <th class="cntr">Devise</th>
          <th class="cntr">Complain</th>
          <th class="cntr" colspan="3">Action</th>
        </tr>
      </thead>

      <tbody>
        <% @complains.each do |complain| %>
          <tr>
            <td class="cntr"><%= complain.name %></td>
            <td class="cntr"><%= complain.user_id %></td>
            <td class="cntr"><%= complain.devise %></td>
            <td class="cntr"><%= complain.complain %></td>
            <td class="cntr"><%= link_to '', complain, class: "btn btn-primary glyphicon glyphicon-eye-open" %></td>
            <td class="cntr"><%= link_to '', edit_complain_path(complain), class: "btn btn-warning glyphicon glyphicon-edit" %></td>
            <td class="cntr"><%= link_to '', complain, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger glyphicon glyphicon-trash" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% else %>

    <h1><%= current_user.username %>'s Complain</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="cntr">Complain Date</th>
          <th class="cntr">Your id</td>
          <th class="cntr">Devise</th>
          <th class="cntr">Complain</th>
        </tr>
      </thead>
      <tbody>
        <% @not_all.each do |complain| %>
          <% if current_user.id.eql?(current_user.id) %>
            <tr>
              <td class="cntr"><%= complain.created_at %></td>
              <td class="cntr"><%= complain.user_id %></td>
              <td class="cntr"><%= complain.devise %></td>
              <td class="cntr"><%= complain.complain %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
<% end %>

<br>

<%= link_to 'New Complain', new_complain_path %>
