<!-- <p id="notice"><%#= notice %></p> -->
<div class="well col-md-4 col-md-offset-4">
  <h1 class="well">Show Complain</h1>
<p>
  <strong>Name:</strong>
  <%= @complain.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @complain.user_id %>
</p>

<p>
  <strong>Devise:</strong>
  <%= @complain.devise %>
</p>

<p>
  <strong>Complain:</strong>
  <%= @complain.complain %>
</p>

<%= link_to 'Edit', edit_complain_path(@complain), class: "btn btn-primary" %>
<%= link_to 'Back', infos_path, class: "btn btn-danger" %>
</div>
