<div class="col-md-offset-4">
  <div class="col-md-5 container well" style="top: 655px;right: 319px;">
    <h3 class="well">Delete my account</h3>
    Would you like to delete an account?
    <br><br>
    <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
    <%= link_to "Back", :back, class: "btn btn-primary"%>
  </div>
</div>
