<div class="col-md-offset-4">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html:{ class: "col-md-5 container well" }) do |f| %>
<h2 class="well">Sign up</h2>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :avatar %>
    <div class="col-sm-6">
        <%= f.file_field :avatar %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>
</div>
