<div class="col-md-offset-4">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{ class: "col-md-5 container well" } ) do |f| %>
  <h2 class="well">Log in</h2>
  <div class="form-group">
    <%= f.label :login %><br />
    <%= f.text_field :login, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%#= f.submit "Log in", class: "btn btn-primary glyphicon glyphicon-log-in" %>
    <%= button_tag " ", class: "btn btn-primary glyphicon glyphicon-log-in" %>
  </div>
<%= render "devise/shared/links" %>
<% end %>


</div>
