<div class="page-header">
  <h1 class="well well-sm"><%=t '.Password Change' %></h1>
</div>
<%= form_for @user, url: update_admin_user_path(params[:id]), :html => { :class => "form-horizontal company", id: 'user_validation' } do |f| %>

  <div class="form-group">
    <%= f.label :email, :class => 'col-lg-2' %>
    <div class="col-lg-6">
      <div class='col-md-6'>
        <%= f.email_field :email, :class => 'form-control' %>
        <%= f.error_span(:email) %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, :class => 'col-lg-2' %>
    <div class="col-lg-6">
      <div class='col-md-6'>
        <%= f.password_field :password, :class => 'form-control' %>
      </div>
    </div>
    <%=f.error_span(:password) %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, :class => 'col-lg-2' %>
    <div class="col-lg-6">
      <div class='col-md-6'>
        <%= f.password_field :password_confirmation, :class => 'form-control' %>
      </div>
    </div>
    <%=f.error_span(:password_confirmation) %>
  </div>


  <div class="actions">
      <div class="form-group">
        <div class="col-lg-10">
          <%= f.button 'Submit', :class => 'btn btn-primary', data: {disable_with: "<i class='fa fa-spin fa-spinner'></i> Submitting.."} %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_user_index_path, :class => 'btn btn-default' %>
        </div>
      </div>
  </div>

<% end %>
