<!-- <h1>AdminUser#index</h1>
<p>Find me in app/views/admin_user/index.html.erb</p> -->
<div class="page-header">
  <h1 class="well well-sm"><%=t '.Users' %></h1>
</div>
<table class="table table-hover">
<thead>
  <tr>
    <th>Profile Pics</th>
    <th>Username</th>
    <th>Email</th>
    <th>Admin User</th>
    <th>Change Password</th>
  </tr>
</thead>
<tbody>
  <% @users.order("email").each do |user| %>
    <tr>
      <td>
        <% if user.avatar.present? %>
          <%= image_tag user.avatar.url(:thumb) %>
        <% end %>
      </td>
      <td>
        <%= user.username %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.email.eql?("sagar@thinkbiz.co.in") ? "Admin" : "Not Admin" %>
      </td>
      <td>
          <%= link_to "".html_safe, admin_user_change_pass_path(user), :class => 'btn btn-primary glyphicon glyphicon-lock', :style => "left: 35px;", data: {disable_with: "<i class='fa fa-spin fa-spinner'></i>"} %>
      </td>
    </tr>
  <% end %>
</tbody>

</table>
