  <tbody class="">
    <% @infos.each do |info| %>
      <tr>
        <td class="cntr"><%= info.id %></td>
        <td class="cntr"><%= info.name %></td>
        <td class="cntr"><%= info.monitor %></td>
        <td class="cntr"><%= info.motherboard %></td>
        <td class="cntr"><%= info.processor %></td>
        <td class="cntr"><%= info.ram %></td>
        <td class="cntr"><%= info.hdd %></td>
        <td class="cntr"><%= info.cabinet %></td>
        <td class="cntr"><%= info.keyboard %></td>
        <td class="cntr"><%= info.mouse %></td>
        <td class="cntr"><%= info.mousepad %></td>
        <td class="cntr"><%= info.camera %></td>
        <td class="cntr"><%= info.speaker %></td>
        <td class="cntr"><%= info.headphone %></td>
        <td class="cntr"><%= info.graphics_card.present? ? info.graphics_card : "-" %></td>

        <% if current_user.try(:email).eql?("sagar@thinkbiz.co.in")%>
          <td class="cntr"><%= link_to '', info, class: "btn btn-primary glyphicon glyphicon-eye-open" %></td>
          <td class="cntr"><%= link_to '', edit_info_path(info), class: "btn btn-warning glyphicon glyphicon-edit" %></td>
          <td class="cntr"><%= link_to '', info, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger glyphicon glyphicon-trash" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
