<thead class="">
  <tr class="cntr">
    <th class="cntr">Sr.</th>
    <th class="cntr">Name</th>
    <th class="cntr">Monitor</th>
    <th class="cntr">Motherboard</th>
    <th class="cntr">Processor</th>
    <th class="cntr">Ram</th>
    <th class="cntr">Hdd</th>
    <th class="cntr">Cabinet</th>
    <th class="cntr">Keyboard</th>
    <th class="cntr">Mouse</th>
    <th class="cntr">Mousepad</th>
    <th class="cntr">Camera</th>
    <th class="cntr">Speaker</th>
    <th class="cntr">Headphone</th>
    <th class="cntr">Graphics Card</th>

    <% if current_user.try(:email).eql?("sagar@thinkbiz.co.in")%>
      <th colspan="3" class="cntr">Actions</th>
    <% end %>
  </tr>
</thead>
