<!-- <p id="notice"><%#= notice %></p> -->
  <div>
    <%= form_tag infos_path, class: "well pull-right", style: "width:350px;", method: "get" do %>
      <%= label_tag :search %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", class: "btn btn-default" %>
    <% end %>
  </div>
<h1 class="">System Configuration</h1>
<table class="table table-hover">
  <%= render :partial => 'head' %>
  <%= render :partial => "body" %>
</table>
<br>
  <% if current_user.email.eql?("sagar@thinkbiz.co.in") %>
    <div class="container">
      <%= form_tag import_infos_path, multipart: true, style: "display: inline-block !important;" do %>
      <%= file_field_tag :file, style: "display: inline-block !important;" %>
      <%= submit_tag "Upload CSV", class: " btn btn-primary" %>
      <% end %>
      <%= link_to 'New Info', new_info_path, class: "btn btn-primary" %>
      <%#= link_to 'Download CSV', download_csv_infos_path(format: 'csv'), class: "btn btn-primary" %>

      <%#= link_to "Download PDF", print_pdf_path(@infos, :format => "pdf"), class: "btn btn-primary", id: "pdf_link" %>
      <%= link_to 'Clear', infos_path, class: "btn btn-danger" %>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <%= will_paginate @infos, renderer: BootstrapPagination::Rails, style: "margin: 10 auto !important;" %>
