<h1 style="text-align: justify;text-align-last:center;">System Configuration</h1>
<table class="table table-striped">
<thead>
  <tr class="cntr">
    <th class="cntr">Sr.</th>
    <th class="cntr">Name</th>
    <th class="cntr">Monitor</th>
    <th class="cntr">Motherboard</th>
    <th class="cntr">Processor</th>
    <th class="cntr">Ram</th>
    <th class="cntr">Hdd</th>
    <th class="cntr">Cabinet</th>
    <th class="cntr">Keyboard</th>
    <th class="cntr">Mouse</th>
    <th class="cntr">Mousepad</th>
    <th class="cntr">Camera</th>
    <th class="cntr">Speaker</th>
    <th class="cntr">Headphone</th>
  </tr>
</thead>
<tbody>
  <% @infos.each do |info| %>
    <tr>
      <td class="cntr"><%= info.id %></td>
      <td class="cntr"><%= info.name %></td>
      <td class="cntr"><%= info.monitor %></td>
      <td class="cntr"><%= info.motherboard %></td>
      <td class="cntr"><%= info.processor %></td>
      <td class="cntr"><%= info.ram %></td>
      <td class="cntr"><%= info.hdd %></td>
      <td class="cntr"><%= info.cabinet %></td>
      <td class="cntr"><%= info.keyboard %></td>
      <td class="cntr"><%= info.mouse %></td>
      <td class="cntr"><%= info.mousepad %></td>
      <td class="cntr"><%= info.camera %></td>
      <td class="cntr"><%= info.speaker %></td>
      <td class="cntr"><%= info.headphone %></td>
    </tr>
  <% end %>
</tbody>
</table>
